[submodule "tool/api-config-chipsalliance"]
	path = tool/api-config-chipsalliance
	url = https://github.com/chipsalliance/api-config-chipsalliance.git
[submodule "tool/verilator"]
	path = tool/verilator
	url = https://github.com/verilator/verilator.git
[submodule "tool/riscv-tests"]
	path = tool/riscv-tests
	url = https://github.com/riscv/riscv-tests.git
[submodule "tool/opensbi"]
	path = tool/opensbi
	url = https://github.com/riscv/opensbi.git
[submodule "tool/pk"]
	path = tool/pk
	url = https://github.com/riscv/riscv-pk
