# chisel
*.json
*.fir
Naive.v

# scala, idea
.bsp/
.idea/
target/
test_run_dir/

# cocotb
*.log
*.vcd
results.xml
__pycache__/
sim_build/

# fusesoc
build/

# binary
firmware/firmware
*.bin
*.hex
