[submodule "api-config-chipsalliance"]
	path = api-config-chipsalliance
	url = https://github.com/chipsalliance/api-config-chipsalliance.git
[submodule "verilator"]
	path = verilator
	url = https://github.com/verilator/verilator.git
